# üêç Welcome to the Python Workshop for Beginners: Day 2! üéâ
*Master the 9 essential pandas skills with two tiny but realistic datasets.*

![Pandas](https://pandas.pydata.org/static/img/pandas_white.svg)

> üîß **Goal**: Use **pandas** to clean, filter, group, and merge data ‚Äî one skill at a time.

We‚Äôll work with **two datasets**: `employees.csv` and `performance.csv`.
Let‚Äôs turn messy data into clean insights! üí™

## üìö Table of Contents

1. [Handle Missing Values](#handle-missing-values)
   - [Quiz: Missing Values](#quiz-missing-values)

2. [Remove Duplicates](#remove-duplicates)
   - [Quiz: Duplicates](#quiz-duplicates)

3. [Fix Data Types](#fix-data-types)
   - [Quiz: Data Types](#quiz-data-types)

4. [Clean Text (Whitespace & Casing)](#clean-text-whitespace-casing)
   - [Quiz: Text Cleaning](#quiz-text-cleaning)

5. [Filter with `.query()`](#filter-with-query)
   - [Quiz: `.query()`](#quiz-query)

6. [Group & Aggregate](#groupby-aggregate)
   - [Quiz: `.groupby()`](#quiz-groupby)

7. [Joins: Combine Datasets](#joins-merge)
   - [Quiz: Joins](#quiz-joins)

In [ ]:
# Import pandas ‚Äî your data superpower!
import pandas as pd

# Load the two core datasets
employees = pd.read_csv("https://media.githubusercontent.com/media/dfbaf/My-Workshop/refs/heads/main/Python/Data/employees.csv")
performance = pd.read_csv("https://media.githubusercontent.com/media/dfbaf/My-Workshop/refs/heads/main/Python/Data/performance.csv")

print("‚úÖ Loaded employees and performance datasets!")

display(employees.head())
display(performance.head())

<a id="handle-missing-values"></a>
## Handle Missing Values
![handle-missing-values](https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjVoMm90N3p5ZDd2bDhvYjdwZHNiZjlzMDhwYmdtbTN4NmY4NzR4dyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l2JehQ2GitHGdVG9y/giphy.gif)

**What is it?**
> Real data often has blanks, `NaN`, or placeholders. We need to decide: **remove** or **fill**?

**Why it matters?**
> Missing values break calculations and visualizations.

**Key pandas tools:**
- `df.isnull().sum()` ‚Üí detect missing
- `pd.to_numeric(..., errors='coerce')` ‚Üí turn bad text into `NaN`
- `df.fillna()` ‚Üí fill missing values

**üëâ Your Task**: Inspect and fill missing values in `employees` and `performance`.

In [ ]:
# Check missing values
print("Employees missing:")
print(employees.isnull().sum())
print("\nPerformance missing:")
print(performance.isnull().sum())

# Clean: convert and fill
employees["salary"] = pd.to_numeric(employees["salary"], errors="coerce")
employees["salary"] = employees["salary"].fillna(employees["salary"].median())

performance["rating"] = pd.to_numeric(performance["rating"], errors="coerce")
performance["rating"] = performance["rating"].fillna(performance["rating"].mean())

print("\n‚úÖ Missing values handled!")

<a id="quiz-missing-values"></a>
### Quiz: Missing Values

**Question**: What does `errors='coerce'` do in `pd.to_numeric()`?

A) Deletes the entire row if conversion fails
B) Converts invalid values to `NaN`
C) Rounds numbers to integers
D) Throws an error and stops the program

<details>
<summary>‚úÖ Click to see answer</summary>
<b>Answer: B</b> ‚Äî It converts unconvertible values (like "N/A") to <code>NaN</code>, so you can handle them later.
</details>

#### üë©‚Äçüíª Now it‚Äôs your turn!
Fill missing `name` in `employees` with "Anonymous" and missing `bonus_eligible` in `performance` with "No".

In [ ]:
employees_filled = employees.copy()
employees_filled["name"] = employees_filled["name"].fillna("Anonymous")

performance_filled = performance.copy()
performance_filled["bonus_eligible"] = performance_filled["bonus_eligible"].fillna("No")

display(employees_filled[["employee_id", "name"]].head())

<a id="remove-duplicates"></a>
## Remove Duplicates
![remove-duplicates](https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnN5MjVwN2JxMGZwdnlseGVnbG13MDhjanN2bTI0MGwyd2MyaXhmeSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l36kU80xPf0ojG0Erg/giphy.gif)


**What is it?**
> Duplicate rows occur due to system errors or double submissions.

**Why it matters?**
> Duplicates inflate metrics!

**Key pandas tools:**
- `df.duplicated()` ‚Üí find duplicates
- `df.drop_duplicates()` ‚Üí remove them

**üëâ Your Task**: Remove duplicates from both datasets.

In [ ]:
print("Duplicates in employees:", employees.duplicated().sum())
print("Duplicates in performance:", performance.duplicated().sum())

employees_clean = employees.drop_duplicates()
performance_clean = performance.drop_duplicates(keep='last')

print("\n‚úÖ Duplicates removed!")

<a id="quiz-duplicates"></a>
### Quiz: Duplicates

**Question**: By default, `drop_duplicates()` keeps which occurrence of a duplicate?

A) The last one
B) A random one
C) The first one
D) It deletes all occurrences

<details>
<summary>‚úÖ Click to see answer</summary>
<b>Answer: C</b> ‚Äî It keeps the <b>first</b> occurrence and removes subsequent duplicates.
</details>

#### üë©‚Äçüíª Now it‚Äôs your turn!
Remove duplicates in `performance` but keep the **LAST** occurrence.

In [ ]:
performance_last = performance.drop_duplicates(keep='last')
performance_last

<a id="fix-data-types"></a>
## Fix Data Types
![fix-data-types](https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExenZnb2d6cmUwNWhzNnF4dzB0MjBjaGlybmJucDFrZTdnd3YydGozZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/BcJbdfFSsJPwK4O66J/giphy.gif)

**What is it?**
> Numbers stored as text can‚Äôt be used in math.

**Why it matters?**
> You can‚Äôt calculate totals or averages with text!

**Key pandas tools:**
- `df.dtypes` ‚Üí check types
- `pd.to_datetime()`, `pd.to_numeric()`

**üëâ Your Task**: Fix `hire_date` and numeric columns.

In [ ]:
employees_clean.loc[:, "hire_date"] = pd.to_datetime(employees_clean["hire_date"], errors="coerce")
employees_clean.loc[:, "salary"] = pd.to_numeric(employees_clean["salary"], errors="coerce")
performance_clean.loc[:, "rating"] = pd.to_numeric(performance_clean["rating"], errors="coerce")

print("Employees dtypes:")
print(employees_clean.dtypes)
print("\nPerformance dtypes:")
print(performance_clean.dtypes)

<a id="quiz-data-types"></a>
### Quiz: Data Types

**Question**: What happens if you try to multiply two string columns like `"2" * "3"`?

A) It returns `6`
B) It returns `"23"`
C) It returns `"222"`
D) It causes a TypeError

<details>
<summary>‚úÖ Click to see answer</summary>
<b>Answer: C</b> ‚Äî In Python, <code>"2" * 3</code> gives <code>"222"</code>. That‚Äôs why we must convert to numbers first!
</details>

#### üë©‚Äçüíª Now it‚Äôs your turn!
Add a `valid_salary` column that is `True` if salary > 0, else `False`.

In [ ]:
employees_clean.loc[:, "valid_salary"] = employees_clean["salary"] > 0
print(employees_clean[["employee_id", "salary", "valid_salary"]])

<a id="clean-text-whitespace-casing"></a>
## Clean Text (Whitespace & Casing)
![clean-text-whitespace-casing](https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3Z1Y2VsNjFodjRtMXhrOHh6dm9zNWVtbzhuZXQxbDZ0cW1qdnVreCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TeBDWIrIpJt0bSueed/giphy.gif)

**What is it?**
> User input often has extra spaces or wrong caps.

**Why it matters?**
> "Ali" and "  Ali  " are treated as different!

**Key pandas tools:**
- `.str.strip()`, `.str.title()`, `.str.upper()`

**üëâ Your Task**: Standardize names and departments.

In [ ]:
employees_clean.loc[:, "name"] = employees_clean["name"].str.strip().str.title().fillna("Anonymous")
employees_clean.loc[:, "department"] = employees_clean["department"].str.strip().str.title()
performance_clean.loc[:, "bonus_eligible"] = performance_clean["bonus_eligible"].str.strip().str.title()

print("Cleaned names:")
print(employees_clean["name"].tolist())

<a id="quiz-text-cleaning"></a>
### Quiz: Text Cleaning

**Question**: What does `"  NOOR  ".strip().title()` return?

A) `"  Noor  "`
B) `"Noor"`
C) `"NOOR"`
D) `"noor"`

<details>
<summary>‚úÖ Click to see answer</summary>
<b>Answer: B</b> ‚Äî <code>.strip()</code> removes spaces, <code>.title()</code> capitalizes the first letter.
</details>

#### üë©‚Äçüíª Now it‚Äôs your turn!
Convert all `department` names to **UPPERCASE**.

In [ ]:
employees_upper = employees_clean.copy()
employees_upper["department"] = employees_upper["department"].str.upper()
print(employees_upper[["name", "department"]])

<a id="filter-with-query"></a>
## Filter with `.query()`
![filter-with-query](https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGd2YzI2OXF3dmJrdjVqeWtjYWI2aGJqem56eXh3dWgyczlra2xmcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/E87jjnSCANThe/giphy.gif)


**What is it?**
> A clean, SQL-like way to filter DataFrames.

**Why it matters?**
> Easier to read than complex boolean logic!

**Key pandas tool:**
- `df.query("condition")`

**üëâ Your Task**: Use `.query()` on both datasets.

In [ ]:
employees_clean.query("hire_date.notna() \
                        & salary > 0")

In [ ]:
# First, define valid_employees (logic from removed section, kept for downstream use)
from datetime import datetime
today = pd.Timestamp(datetime.now())
valid_employees = employees_clean[
    (employees_clean["hire_date"] <= today) &
    (employees_clean["hire_date"].notna()) &
    (employees_clean["salary"] > 0)
]

# Now use .query()
high_raters = performance_clean.query("rating > 4.0")
print("High performers:")
display(high_raters)

bonus_eligible = performance_clean.query("bonus_eligible == 'Yes'")
print("\nBonus eligible:")
display(bonus_eligible)

<a id="quiz-query"></a>
### Quiz: `.query()`

**Question**: Which is the correct `.query()` syntax to find orders with `quantity >= 2`?

A) `df.query(quantity >= 2)`
B) `df.query("quantity >= 2")`
C) `df.query(‚Äúquantity‚Äù >= 2)`
D) `df.query[quantity >= 2]`

<details>
<summary>‚úÖ Click to see answer</summary>
<b>Answer: B</b> ‚Äî Conditions must be in a <b>string</b>.
</details>

#### üë©‚Äçüíª Now it‚Äôs your turn!
Find performance records where `rating >= 3.5` **AND** `bonus_eligible == 'Yes'`.

In [ ]:
result = performance_clean.query("rating >= 3.5 and bonus_eligible == 'Yes'")
result

<a id="groupby-aggregate"></a>
## Group & Aggregate

![groupby-aggregate](https://miro.medium.com/v2/resize:fit:1840/1*JbF6nhrQsn4f-TaSF6IR9g.png)


**What is it?**
> Split data into groups and compute stats (sum, mean, count).

**Why it matters?**
> Essential for reports: ‚ÄúAvg rating by department‚Äù, etc.

**Key pandas tools:**
- `df.groupby("col")`, `.mean()`, `.count()`

**üëâ Your Task**: Avg salary by department, avg rating by employee.

In [ ]:
# Avg salary by department
dept_salary = valid_employees.groupby("department")["salary"].mean().round(2)
print("Avg salary by department:")
display(dept_salary)

# Avg rating per employee
emp_rating = performance_clean.groupby("employee_id")["rating"].mean().round(2)
print("\nAvg rating per employee:")
display(emp_rating)

<a id="quiz-groupby"></a>
### Quiz: `.groupby()`

**Question**: What does `df.groupby("city")["salary"].mean()` return?

A) One number: the overall average salary
B) Average salary **per city**
C) A list of all salaries in each city
D) The city with the highest average salary

<details>
<summary>‚úÖ Click to see answer</summary>
<b>Answer: B</b> ‚Äî It returns the average salary <b>for each city</b>.
</details>

#### üë©‚Äçüíª Now it‚Äôs your turn!
Count how many performance records each employee has.

In [ ]:
record_count = performance_clean.groupby("employee_id").size()
record_count

<a id="joins-merge"></a>
## Joins: Combine Datasets
![joins-merge](https://miro.medium.com/v2/resize:fit:1274/1*59cltrPcYsSEz_vsIRr61g.png)

**What is it?**
> Combine two tables based on a common column.

**Why it matters?**
> Real data lives in multiple tables!

**Key pandas tool:**
- `pd.merge(df1, df2, on="key", how="...")`

**üëâ Your Task**: Merge employees and performance.

In [ ]:
# Inner join: only employees with performance
merged_inner = pd.merge(valid_employees, performance_clean, on="employee_id", how="inner")
print("Inner join (matching only):")
display(merged_inner[["name", "department", "rating", "bonus_eligible"]])

# Left join: all valid employees
merged_left = pd.merge(valid_employees, performance_clean, on="employee_id", how="left")
print("\nLeft join (all employees):")
display(merged_left[["name", "rating"]])

# Right join: all performance records
merged_right = pd.merge(valid_employees, performance_clean, on="employee_id", how="right")
print("\nRight join (all performance records):")
display(merged_right[["name", "rating"]])

# Outer join: all employees and performance records
merged_outer = pd.merge(valid_employees, performance_clean, on="employee_id", how="outer")
print("\nOuter join (all employees and performance records):")
display(merged_outer[["name", "rating"]])

<a id="quiz-joins"></a>
### Quiz: Joins

**Question**: Which join returns **all rows from the left table**, and matched rows from the right?

A) `inner`
B) `left`
C) `right`
D) `outer`

<details>
<summary>‚úÖ Click to see answer</summary>
<b>Answer: B</b> ‚Äî <code>left</code> join keeps all left rows.
</details>

#### üë©‚Äçüíª Now it‚Äôs your turn!
Do a **right join** to show all performance records, even if employee data is missing.

In [ ]:
right_join = pd.merge(valid_employees, performance_clean, on="employee_id", how="right")
right_join[["employee_id", "name", "rating"]]

## üéâ You‚Äôre Now a Pandas Data Pro!

You‚Äôve mastered **8 essential pandas skills** using just two datasets:

1. ‚úÖ **Missing Values** ‚Üí `fillna()`, `to_numeric()`
2. ‚úÖ **Duplicates** ‚Üí `drop_duplicates()`
3. ‚úÖ **Data Types** ‚Üí `to_datetime()`, `to_numeric()`
4. ‚úÖ **Text Cleaning** ‚Üí `.str.strip()`, `.str.title()`
5. ‚úÖ **Filter with `.query()`** ‚Üí clean conditions
6. ‚úÖ **Group & Aggregate** ‚Üí summarize by category
7. ‚úÖ **Joins** ‚Üí combine datasets like SQL

> üî• **Real-world tip**: These 7 skills cover **90% of daily data tasks** in analytics, BI, and data science!

Keep practicing ‚Äî you‚Äôre building serious data superpowers! üêºüêç